@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Arial);

h1 {
font-size: 48px;
width: auto;
text-align: center;
font-family: 'Anton';
font-weight: lighter;
}

h3 {
    margin-top: 42px;
    font-family: 'Anton';
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
}

h4 {
    font-family: Anton;
    font-size: 36px;
    margin-left: 100px;
    letter-spacing: 0.8px;
}

h5 {
    font-family: 'Arial';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 100px;
}

h6 {
    font-family: Anton;
    font-size: 30px;
    margin-left: 200px;
}


header {
    background-color: rgb(0,191,42);
    width: auto;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -30px;
}

footer {
    background-color: rgb(0,191,42);
    width: auto;
    margin-top: 40px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -10px;
}
p {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Arial';
}

a {
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: 16px;
    color: black;
    font-family: Arial;
}

.heading {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: left;
    color: black;
    margin-left: 100px;
    display: inline-block;
    width: 40%;
    margin-bottom: 50px;
    vertical-align: text-top;
    margin-top: -50px;

}

button {
    font-family: 'Anton';
    border: 1px,solid,rgb(0,191,42);
    background-color: rgb(94,200,0);
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: lighter;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(0,200,200);
}

.current-page {
    background-color: rgb(50,255,50);
}


img {
    width: 50%;
    align-content: center;
    box-align: center;
}

.images{
    text-align: center;
}

.litters {
    text-align: center;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}

span{
    font-size: 27px;
    padding: 50px;
    font-family: Anton;
}

.head{
    margin-bottom: 80px;
    margin-top: 80px;
}