@import url(https://fonts.googleapis.com/css?family=Anton);

h1 {
font-size: 50px;
width: auto;
text-align: center;
font-family: 'Anton';
}
header {
    background-color: rgb(0,191,42);
    width: auto;
}

div {
    font-size: 20px;
    display: flex;
    gap:20px;
}

button {
    font-family: 'Anton';
    border: 1px,solid,rgb(0,191,42);
    background-color: rgb(94,200,0);
    border-radius: 25px;
    width: 100px;
    height: 50px;
    font-size: 30px;

}

.current-page {
    background-color: rgb(50,255,50);
}
