@import url(https://fonts.googleapis.com/css?family=Anton);

h1 {
font-size: 50px;
width: auto;
text-align: center;
font-family: 'Anton';
font-weight: lighter;
}

h3 {
    font-family: 'Anton';
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}
header {
    background-color: rgb(0,191,42);
    width: auto;
}

p {
    margin-left: 100px;
}

div {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Anton';
    border: 1px,solid,rgb(0,191,42);
    background-color: rgb(94,200,0);
    border-radius: 25px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: lighter;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.current-page {
    background-color: rgb(50,255,50);
}
